@charset "utf-8";
/* CSS Document */



/**********  banner   **********/
.banner{max-width:1440px; min-width:1000px; margin:auto;}
.flexslider{width:100%;overflow:hidden;background: url(../images/loading.gif) 50% no-repeat;}
.flexslider .slides > li{display:none;}
.flexslider .slides img{max-width:100%;display:block;}
.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .slides{display:block;}
* html .slides{height:1%;}
.no-js .slides > li:first-child{display:block;}
.flexslider{position:relative;zoom:1;}
.flexslider .slides{zoom:1;}
.flexslider .slides > li{position:relative;}
.flex-caption{background:none;-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);zoom:1;}
.flex-caption{width:96%;padding:2%;position:absolute;left:0;bottom:0;background:rgba(0,0,0,.3);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.3);font-size:14px;line-height:18px;}
.flex-direction-nav{height:0;overflow:hidden;}
.flex-direction-nav li a{display:none;width:47px;height:80px;position:absolute;top:50%;margin-top:-40px;cursor:pointer;text-indent:-9999px;}
.flex-direction-nav li a.next{right:0;background:url("../images/bg_direction_nav.png") no-repeat scroll -47px 0 transparent;}
.flex-direction-nav li a.next:hover{background:url("../images/bg_direction_nav.png") no-repeat scroll -47px -80px transparent;}
.flex-direction-nav li a.next:active{}
.flex-direction-nav li a.prev{left:0;background:url("../images/bg_direction_nav.png") no-repeat scroll 0 0 transparent;}
.flex-direction-nav li a.prev:hover{background:url("../images/bg_direction_nav.png") no-repeat scroll 0 -80px transparent;}.flex-direction-nav li a.prev:active{}
.flex-direction-nav li a.disabled{opacity:.3;filter:alpha(opacity=30);cursor:default;}
.flex-control-nav{position:absolute;bottom:10px;width:100%; text-align:center;}
.flex-control-nav li{display:inline-block;zoom:1;*display:inline;margin-right:10px;margin-bottom:6px;}
.flex-control-nav li a{display:block;width:12px;height:12px;background:#fff; border-radius:50%;cursor:pointer;text-indent:-9999px;}
.flex-control-nav li a:hover{background:#666;}
.flex-control-nav li a.active{background:#333;cursor:default;}







/**********  index content*********/
.content_t{}
.cont_h1{background: #ef3526;padding-bottom: 2em;}
.cont_ty1{width: 56%;}
.cont_ty2{width: 44%;}
.cont_ty3{background:url(../images/jkd_01.png) no-repeat;width: 486px;height: 213px;margin-top: 2em;padding-left: 1em;}
.cont_ty4 li{width: 18%;float: left;text-align: center;margin: 20px 22px 0 5px;}
.cont_ty4 li i{-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;background-repeat: no-repeat;background-position: center top;width: 100%;height: 7.5em;display: block;}
.cont_ty4 .cont_i3{margin-left: 15px;}
.cont_i1 i{background-image: url(../images/icon_01.png);}
.cont_i2 i{background-image: url(../images/icon_02.png);}
.cont_i3 i{background-image: url(../images/icon_03.png);}
.cont_i4 i{background-image: url(../images/icon_04.png);}
.cont_ty5{font-size: 18px;color: #fff;font-weight: bold;margin-top: .5em;}
.cont_ty6{font-size: 12px;color: #fff;height: 4.5em;overflow: hidden;margin-top: .3em;}
.cont_i1:hover i{background-image: url(../images/icon_05.png);-webkit-transform:scale(1.1);transform:scale(1.1);}
.cont_i2:hover i{background-image: url(../images/icon_06.png);-webkit-transform:scale(1.1);transform:scale(1.1);}
.cont_i3:hover i{background-image: url(../images/icon_07.png);-webkit-transform:scale(1.1);transform:scale(1.1);}
.cont_i4:hover i{background-image: url(../images/icon_08.png);-webkit-transform:scale(1.1);transform:scale(1.1);}
.cont_ty7{color: #fff677;font-size: 24px;margin-top: 75px;}
.cont_ty8{color: #fff;font-size: 24px;margin-top: 5px;}
.cont_ty9{font-size: 14px;color: #fff;margin-top: 25px;}
.cont_ty10{margin-top: 90px;}
.cont_ty11{background-image: url(../images/jkd_09.png);background-repeat: no-repeat;padding-top: 66px;background-position: center top;}
.cont_ty12{color: #fff;font-size: 14px;width: 32%;text-align: center;margin: 0 1px;}
.cont_h1bg{top:0;left: 44.5%;width: 180px;height: 460px;background: url(../images/jkd_08.png) no-repeat;z-index: -1;}


.cont_h2{background: #ededed;width: 100%;overflow: hidden;}
.cont_ty13{color: #eb3625;font-size: 30px;margin-top: 42px;}
.cont_ty13 span{font-size: 36px;color: #f8bc06;}
.cont_ty14{color: #666;margin-top: 5px;}
.cont_ty15{background: url(../images/jkd_10.png) repeat-x;height: 281px;margin-top: 32px;padding-bottom: 114px;}
.cont_ty16{width: 42.3%;}
.cont_ty17{width: 15.2%;background: #ededed;height: 285px;}
.cont_ty18{width: 42.5%;}
.cont_ty19 li{height: 87px;margin-bottom: 10px;*+margin-bottom:5px;}
.cont_ty19 b{color: #666;font-size: 18px;padding: 10px 0 0 10px;display: block;}
.cont_ty19 span{color: #666;font-size: 14px;padding: 10px 0 0 10px;display: block;}
.cont_ty19 i{width: 53px;height: 54px;position: absolute;right: -26px;top: 17px;background-repeat:no-repeat;display: block;}
.cont_ty19 em{font-style: normal;color: #eb3625;}
.cont_ul1 i{background-image: url(../images/jkd_11.png);}
.cont_ul2 i{background-image: url(../images/jkd_12.png);left:-26px;}
.cont_ul2 li{padding-left: 28px;}



.cont_h3,.cont_h5,.cont_h7{ background: url(../images/jkd_13.png); }
.cont_ty20{width: 88px;height: 40px;background: url(../images/jkd_14.png) no-repeat;margin: auto;}
.diamond{height: 305px;}
.diamond li{width: 170px;height: 110px;background: url(../images/jkd_02.png) no-repeat;position: absolute;color: #fff;font-size: 14px;text-align: center;padding-top: 75px;background-size: 100%;transition: all 0.1s ease;-webkit-transform-origin: center bottom 0;transform-origin: center bottom 0;}
.diamond li:hover{-webkit-animation: scale .8s ease;animation: scale .8s ease;}
.diamond .diamond_01{top: 18px;left: 135px;}
.diamond .diamond_02{top: 108px;left: 226px;}
.diamond .diamond_03{top: 18px;left: 320px;padding-top: 65px;}
.diamond .diamond_04{top: 108px;left: 415px;padding-top: 65px;}
.diamond .diamond_05{top: 18px;left: 507px;padding-top: 65px;}
.diamond .diamond_06{top: 108px;left: 600px;padding-top: 65px;}
.diamond .diamond_07{top: 18px;left: 692px;color: #ebb306;}
.diamond .diamond_on{background: url(../images/jkd_03.png) no-repeat;color: #ec3525;z-index: 9;}


.cont_ty21 li{width: 234px;height: 146px;overflow: hidden;float: left;margin-left: 20px;border-radius: 6px;}
.cont_ty21 img{width: 100%;}
.cont_ty22{margin-top: 24px;padding-bottom: 20px;}
.cont_ty22 a{color: #333;}
.cont_ty22 a:hover{text-decoration: underline;}



.cont_h4{background: #ededed;color: #333;}
.cont_ty23{width: 88px;height: 40px;margin: auto;}
.cont_ty24{color: #ec3525;font-size: 36px;}
.cont_ty24 i{font-size: 14px;vertical-align: middle;display: inline-block;*display:inline;zoom:1;margin-top: -10px;font-family: "宋体";}
.cont_ty25{font-size: 22px;margin-top: 10px;}
.cont_ty26{margin-top: 15px;width: 337px;height: 208px;overflow: hidden;border-radius: 10px;}
.cont_ty26 img{width: 100%;}
.cont_ty27{padding: 5px 0 0 10px;font-size: 14px;width: 340px;max-height: 65px;overflow: hidden;}
.cont_ty28{width: 410px;height: 410px;background: url(../images/jkd_04.png) no-repeat;margin-left: 70px;margin-top: 38px;padding-bottom: 18px;}

.cont_ty29 li{float: left;width: 234px;margin-left: 20px;cursor: pointer;}
.cont_ty30{width: 234px;height: 146px;overflow: hidden;border-radius: 6px;}
.cont_ty29 li:hover img{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);transform:scale(1.2);}
.cont_ty30 img{width: 100%;-webkit-transition:.6s all ease;-moz-transition:.6s all ease;transition:.6s all ease;}
.cont_ty31{color: #ec3525;font-size: 14px;text-align: center;padding: 12px 0 18px;}
.cont_ty32{margin: 20px 0 80px;}
.cont_ty32 li{float: left;width: 234px;margin-left: 20px;overflow: hidden;border-radius: 5px;}
.cont_ty32 img{width: 100%;}

.cont_h6{background: #ededed;padding-bottom: 40px;}


.cont_ty33{color: #767676;font-size: 36px;margin-top: 20px;}
.cont_ty33 i{font-size: 14px;vertical-align: middle;display: inline-block;*display:inline;zoom:1;margin-top: -10px;font-family: "宋体";}



.multipleColumn{ overflow:hidden; position:relative; width:500px;}
.multipleColumn .hd{ overflow:hidden;  height:30px;padding:0 10px;  }
.multipleColumn .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1;padding-right: 10px;}
.multipleColumn .hd ul li{ float:left;  width:55px; height:2px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:#fff; }
.multipleColumn .hd ul li.on{ background:#ec3525; }

.multipleColumn .bd{overflow:hidden;width: 98%;}
.multipleColumn .bd ul{ overflow:hidden; zoom:1; width:100%;float:left; _display:inline;}
.multipleColumn .bd ul li{ margin:0 10px; float:left; _display:inline; overflow:hidden; text-align:center;padding-bottom: 20px;}
.multipleColumn .bd ul li .pic{ text-align:center; width:136px; height:82px;border: 3px solid #fff;overflow: hidden;}
.multipleColumn .bd ul li .pic img{display:block;width: 100%;-webkit-transition:.6s all ease;-moz-transition:.6s all ease;transition:.6s all ease;}
.multipleColumn .bd ul li .title{ line-height:18px;width: 135px;padding-top: 10px;height: 38px;overflow: hidden;}
.title a{color: #666;}
.multipleColumn .bd li:hover .title a{color: #ec3525;}
.multipleColumn .bd li:hover .pic img{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);transform:scale(1.2);}


.cont_ty34{margin-top: 70px;padding-left: 45px;line-height: 24px;}
.cont_ty35{color: #ec3525;font-size: 14px;padding-bottom: 10px;}
.cont_ty35 i{display: block;width: 120px;height: 2px;background: #ec3525;margin: 11px 0 0 10px;}
.cont_ty36 li{padding-right: 10px;}
.cont_ty36 a{color: #666;}
.cont_ty36 i{color: #999;}
.cont_ty36 li:hover span,.cont_ty36 li:hover i{color: #ec3525;}
.cont_ty36 span{width: 300px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.cont_ty36 span,.cont_ty36 i,.cont_ty40 em,.cont_ty40 i{-webkit-transition:.6s all ease;-moz-transition:.6s all ease;transition:.6s all ease;}
.cont_ty37{width: 37%;margin-top: -20px;}
.cont_ty37 img{width: 100%;}
.cont_ty38{width: 63%;color: #333;font-size: 18px;line-height: 30px;}
.cont_ty38 > div{margin-left: 20px;}
.cont_ty40{width: 295px;height: 83px;background: url(../images/signup.png) no-repeat;display: block;text-align: center;overflow: hidden;margin: 30px 0 0 20px;border-radius: 6px;}
.cont_ty40:hover em,.cont_ty40:hover i{text-shadow: 0px 0px 3px #fff;}
.cont_ty40:hover{box-shadow: 2px 2px 5px #888;}
.cont_ty40 em{display: block;font-size: 32px;color: #fff;margin-top: 10px;}
.cont_ty40 i{display: block;font-size: 24px;color: #fff;margin-top: 5px;}
.calendar{background: url(../images/jkd_16.png) no-repeat;width: 411px;height: 410px;}
.year{color: #ec3525;font-size: 28px;left: 265px;top: 20px;}
.month{color: #ec3525;font-size: 40px;top: 50px;left: 275px;}
.emonth{color: #fff;font-family: Arial;font-size: 62px;left: 105px;top: 35px;}
.week{top: 180px;left: 82px;}
.week li{float: left;font-family: arial;color: #fff;font-size: 14px;margin-left: 17px;}
.date{top: 195px;left: 82px;width: 256px;}
.date li{float: left;color: #fff;width: 20px;margin:8px 0 0 14.5px;text-align: center;}
.date .date_on{color: #0a163c;cursor: pointer;}
.date_on:hover{text-decoration: underline;}


.cont_h8{background: #555;}
.cont_ty41{background: url(../images/jkd_05.png) no-repeat;width: 980px;margin: auto;padding: 90px 0 80px;font-size: 36px;color: #fff;margin-top: 20px;}
.cont_ty42{width: 387px;height: 1px;border-top: 1px solid #0a163c;margin-top: 57px;}
.cont_ty43{width: 224px;margin-top: 40px;font-size: 24px;}
.cont_ty44{padding-bottom: 44px;}
.cont_ty44 li{width: 181px;height: 74px;overflow: hidden;border: 1px solid #ccc;float: left;margin:20px 0 0 20px;}
.cont_ty44 img{width: 100%;}




.main{min-width: 1000px;width: 100%;}
.main_left,.main_right{float: left;height: 40px;background: #ededed;min-width: 450px;}
.main_mid{text-align: center;display: inline-block;float: left;height: 40px;width: 88px;background: url(../images/jkd_15.png) no-repeat;background-size: 100% 100%;}


.main_left2,.main_right2{background: #555;}
.main_mid2{text-align: center;display: inline-block;float: left;height: 40px;width: 88px;background: url(../images/jkd_17.png) no-repeat;background-size: 100% 100%;}




@keyframes scale{ /*缩放*/
	20%{
		transform:scale(1.1);
	}
	40%{
		transform:scale(1.07);
	}
	60%{
		transform:scale(1.04);
	}
	80%{
		transform:scale(1.01);
	}
	100%{
		transform:scale(1);
	}
}
@-webkit-keyframes scale{ /*缩放*/
	20%{
		-webkit-transform:scale(1.1);
	}
	40%{
		-webkit-transform:scale(1.075);
	}
	60%{
		-webkit-transform:scale(1.05);
	}
	80%{
		-webkit-transform:scale(1.025);
	}
	100%{
		-webkit-transform:scale(1);
	}
}